* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-family: sans-serif;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background: green;
}

.red {
  background: red;
}